{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="google-site-verification" content="M4ZkDwce9BvOCQ3wxDP6bECk2h6bKQpqycbHsTUMkfI" />
        <meta name="google-site-verification" content="FSSOCscjBydt20HCu52CZ0bSNrbYYiKXyS2BX8BlHMw" />
        <meta name='yandex-verification' content='7967957d4f52d803' />
        {# <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'> #}    
        <meta name="viewport" content="width=1200">    
        {% block meta %}
            <title>{{ meta_title }} | Церковь Прославления</title>
            <meta name="description" content="{{ meta_description }}"/>
        {% endblock %}
        
        <!-- Добавляем файл со стилями -->
        {% include "stylesheets.html" %}

        {% block head %}
        {% endblock %}

        {% block page_css %}
            <link href="{{ STATIC_URL }}AdminLte/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
            <!-- Date Picker -->
            <link href="{{ STATIC_URL }}AdminLte/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
            <!-- Daterange picker -->
            <link href="{{ STATIC_URL }}AdminLte/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
            <!-- bootstrap wysihtml5 - text editor -->
            <link href="{{ STATIC_URL }}AdminLte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        {% endblock %}
        <script charset='utf-8' src='https://cdn.pushdealer.com/f3e2f480/script_0.js' async></script>
    </head>

    {% block body %}
        <body>
    {% endblock %}

        {% block template_name %}
            {{ template_name }}
        {% endblock %}

        {% block start_wrapper %}
        {% endblock %}

            {% block body_header %}
            {% endblock %}

            {% block body_sidebar %}
            {% endblock %}
            
            {% block social %}
                <!-- добавляем социалки -->
               {% include 'social.html' %} 
            {% endblock social %}            

            {% autoescape off %}  <!-- экранирует html код -->
                {% block content %}
                {% endblock %}
            {% endautoescape %}


            {% block footer %}
            {% endblock %}

        {% block end_wrapper %}
        {% endblock %}

        <!-- Добавляем файл со стилями -->
        {% include "javascripts.html" %}

        {% block page_js %}            
        {% endblock %}

        <!-- наш шейкер на каждой странице кроме главной -->
        {% block shacke %}
            <script>
                (function($) {
                    $(document).ready(function() {

                        setInterval(function(){
                            $("#drop_menu .accordion_button").addClass('shake animated');
                        }, 5000);

                        setTimeout(function () {
                            setInterval(function(){
                                $("#drop_menu .accordion_button").removeClass('shake animated');
                            }, 5000);
                        }, 2000);

                    });
                })(jQuery);
            </script>
        {% endblock shacke %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter179248 = new Ya.Metrika({
id:179248,
clickmap:true,
trackLinks:true,
accurateTrackBounce:true
});
} catch(e) { }
});

var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = "https://mc.yandex.ru/metrika/watch.js";

if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/179248" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<div class="writeme">
  <div class="text">Напишите нам:</div><div class="clearfix">
  <a href="whatsapp://send?text=Здравствуйте! У меня есть вопрос&amp;phone=+79138536272&amp;abid=+79138536272" class="whatsapp">WhatsApp</a>
  <a href="viber://chat?number=79138536272" class="viber">Viber</a>
  <!-- <a href="viber://add?number=79138536272" class="viber">Viber add</a> -->
  </div>
</div>


        </body>
</html>
