{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'> #}
        
        <!-- Добавляем файл со стилями -->
        {% include "stylesheets.html" %}

        {% block head %}
        {% endblock %}

        {% block page_css %}
            <link href="{{ STATIC_URL }}AdminLte/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
            <!-- Date Picker -->
            <link href="{{ STATIC_URL }}AdminLte/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
            <!-- Daterange picker -->
            <link href="{{ STATIC_URL }}AdminLte/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
            <!-- bootstrap wysihtml5 - text editor -->
            <link href="{{ STATIC_URL }}AdminLte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        {% endblock %}

    </head>

    {% block body %}
        <body>
    {% endblock %}

        {% block template_name %}
            {{ template_name }}
        {% endblock %}

        {% block start_wrapper %}
        {% endblock %}

            {% block body_header %}
            {% endblock %}

            {% block body_sidebar %}
            {% endblock %}
            
            {% block social %}
                <!-- добавляем социалки -->
               {% include 'social.html' %} 
            {% endblock social %}            

            {% autoescape off %}  <!-- экранирует html код -->
                {% block content %}
                {% endblock %}
            {% endautoescape %}


            {% block footer %}
            {% endblock %}

        {% block end_wrapper %}
        {% endblock %}

        <!-- Добавляем файл со стилями -->
        {% include "javascripts.html" %}

        {% block page_js %}            
        {% endblock %}

        </body>
</html>
