{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'> #}
        
        <!-- Добавляем файл со стилями -->
        {% include "stylesheets.html" %}

        {% block head %}
        {% endblock %}

        {% block page_css %}
            <link href="{{ STATIC_URL }}AdminLte/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
            <!-- Date Picker -->
            <link href="{{ STATIC_URL }}AdminLte/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
            <!-- Daterange picker -->
            <link href="{{ STATIC_URL }}AdminLte/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
            <!-- bootstrap wysihtml5 - text editor -->
            <link href="{{ STATIC_URL }}AdminLte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        {% endblock %}

    </head>

    {% block body %}
        <body>
    {% endblock %}

        {% block template_name %}
            {{ template_name }}
        {% endblock %}

        {% block start_wrapper %}
        {% endblock %}

            {% block body_header %}
            {% endblock %}

            {% block body_sidebar %}
            {% endblock %}
            
            {% block social %}
                <section class="social">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="social_container">
                                    <span class="fa fa-vk fa-lg social-ic"></span>
                                    <span class="fa fa-ok fa-lg social-ic"></span>
                                    <span class="fa fa-facebook-f fa-lg social-ic"></span>
                                    <span class="fa fa-instagram fa-lg social-ic"></span>
                                    <span class="fa fa-youtube fa-lg social-ic"></span>
                                    <span class="fa fa-twitter fa-lg social-ic"></span>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                {# <section class="social"> #}
                    {# <div class="container"> #}
                        {# <div class="row"> #}
                            {# <div class="col-xs-12"> #}
                                {# <div class="social_container"> #}
                                    {# <span class="vk ic"></span> #}
                                    {# <span class="od ic"></span> #}
                                    {# <span class="fb ic"></span> #}
                                    {# <span class="ig ic"></span> #}
                                    {# <span class="yt ic"></span> #}
                                    {# <span class="tw ic"></span> #}
                                {# </div> #}
                            {# </div> #}
                        {# </div> #}
                    {# </div> #}
                {# </section> #}
            {% endblock social %}            

            {% autoescape off %}  {# экранирует html код #}
                {% block content %}
                {% endblock %}
            {% endautoescape %}


            {% block footer %}
            {% endblock %}

        {% block end_wrapper %}
        {% endblock %}

        <!-- Добавляем файл со стилями -->
        {% include "javascripts.html" %}

        {% block page_js %}
        {% endblock %}

        </body>
</html>
