<section class="social">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="social_container">
                    <a href="http://vk.com/proslavlenietomsk" target="_blank"><span class="fa fa-vk fa-lg social-ic"></span></a>
                    <a href="http://ok.ru/proslavlenie.ru" target="_blank"><span class="fa fa-ok fa-lg social-ic"></span></a>
                    <a href="https://www.facebook.com/proslavlenietomsk" target="_blank"><span class="fa fa-facebook-f fa-lg social-ic"></span></a>
					<a href="https://instagram.com/proslavlenietomsk" target="_blank"><span class="fa fa-instagram fa-lg social-ic"></span></a>
					<a href="http://www.youtube.com/user/Proslavlenie" target="_blank"><span class="fa fa-youtube fa-lg social-ic"></span></a>
					<a href="https://twitter.com/proslavlenie" target="_blank"><span class="fa fa-twitter fa-lg social-ic"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>