<section class="social">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="social_container">
                    <a href=""><span class="fa fa-vk fa-lg social-ic"></span></a>
                    <a href=""><span class="fa fa-ok fa-lg social-ic"></span></a>
                    <a href=""><span class="fa fa-facebook-f fa-lg social-ic"></span></a>
					<a href=""><span class="fa fa-instagram fa-lg social-ic"></span></a>
					<a href=""><span class="fa fa-youtube fa-lg social-ic"></span></a>
					<a href=""><span class="fa fa-twitter fa-lg social-ic"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>