{% load staticfiles %}
{% load thumbnail %}
{% load cropping %}
{% load sitetree %}
{% load mptt_tags %}

<section class="header {% if request.get_full_path == "/" %}front{% endif %}">
    <div class="container" style="position: relative;">
    <span id="lang">
        Язык сайта:
        <a href="https://proslavlenie.ru"><img src="/static/theme/img/russia.png" class="active" alt="rus"></a>
        <a href="http://eng.proslavlenie.ru"><img src="/static/theme/img/united_kingdom.png" alt="eng"></a>
        <a href="http://fra.proslavlenie.ru"><img src="/static/theme/img/france.png" alt="fra"></a>
        <a href="http://kor.proslavlenie.ru"><img src="/static/theme/img/korea.png" alt="kor"></a>
    </span>

        <div class="row">

            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3" class="form-control-wrapper" style=" float: right">
                        <input id="header_search" class="form-control search-form" type="text"/>
                    </div>
<!--                     <div class="col-xs-1" style="float: right">
                        <span id="lang">En</span>
                    </div> -->
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="/"><img src="/static/theme/img/logo.png" width="230" alt=""/></a>
                    </div>
                    <div class="col-xs-8 sepa">

                        {#{% sitetree_menu from "site_menu" include 'trunk' %}#}
                        {% sitetree_menu from "site_menu" include 'trunk' template "sitetree/site_menu.html" %}

                    </div>
                </div>
            </div>

        {% if request.get_full_path == "/" %}
            <div class="col-xs-12 sepa new_year_2017" style="height: 360px">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for slide in slides %}
{#                                <div class="swiper-slide"><img src="{{ slide.url }}" alt=""/></div>#}
                            <img link="{{ slide.link }}" class="swiper-slide" src="{% cropped_thumbnail slide "cropping" scale=1 %}">
                            {# <img link="{{ slide.link }}" class="swiper-slide" src="/media/{{ slide.image }}">#}
                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination">
                        {% for slide in slides %}
                            <span class="my-pager">
                                <div class="slider_icon"><span class="number">{{ slide.date|date:"j" }}</span><br/><small>{{ slide.date|date:"E" }}</small></div>
                                <div class="title">{{ slide.name|truncatewords:3 }}</div>
                                <div class="description">{{ slide.description|truncatewords:12 }}</div>
                            </span>
                        {% endfor %}
                    </div>
                </div>

            </div>



            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4 sepa">
                        <div class="btn_front">
                            <!-- Сама форма находится в index.html -->
                            <img src="/static/theme/img/pray.png" height="42" alt=""/>
                            <a href="" data-toggle="modal" data-target="#complete-dialog">Молитвенная нужда</a>
                            <!--<button class="btn btn-primary" data-toggle="modal" data-target="#complete-dialog">Open dialog</button>-->
                        </div>
                    </div>
                    <div class="col-xs-4 sepa">
                        <div class="btn_front orange">
                            <img src="/static/theme/img/online.png" height="42" alt=""/>
                            <a href="/page/onlajn-translyaciya/">Онлайн трансляция</a>
                        </div>
                    </div>
                    <div class="col-xs-4 sepa">
                        <div class="btn_front">
                            <img src="/static/theme/img/gift.png" height="42" alt=""/>
                            <a href="" data-toggle="modal" data-target="#pay-dialog">Сделать пожертвование</a>
                        </div>
                    </div>
                </div>
            </div>



        {% endif %}

        </div>
    </div>

</section>
