{% extends "front_main.html" %}
{% load thumbnail %}
{% load cropping %}
{% load menu_tags %}

{% block meta %}
    <title>Новости | Церковь Прославления</title>
    <meta name="description" content='Жизнь, события и новости "Церкви Прославления"'/>
{% endblock %}

{% block content %}
<div id="obyavleniya" class="content-wrapper" style="margin-left:0"><!-- Content Wrapper. Contains page content -->

    <section id="drop_menu">
        {% menu_tree request %}
    </section>

    <section class="content adv_all">
        <div class="container">
            <div class="row">

                <div class="col-xs-7">
                    <h1 class="">Обьявления</h1>
                </div>
                
                {% debug %}


2
                {% for adv in adverts_ %}
                    <div class="col-xs-12" style="margin-bottom: 30px;">
                        <h4><a href="{{ adv.url }}">{{ adv.name }}</a></h4>
                        <p style="font-size: 15px;">{{ adv.text|truncatewords:100|safe }}</p>
                        <p>{{ adv.phone }}</p>
                        <p>{{ adv.cost }}</p>
                        <p>{{ adv.category }}</p>
                        <p>{{ adv.member }}</p>
                        <p>{{ adv.author }}</p>
                        <p>{{ adv.pswd }}</p>
                        <p>{{ adv.date }}</p>
                        <a href="{{ adv.url }}" class="btn btn-primary pull-right" style="margin-top: 10px;">Подробнее</a>
                    </div>
                {% endfor %}
3
                {% for cat in categories %}
                    <div class="col-xs-12" style="margin-bottom: 30px;">
                        <p>{{ adv.name }}</p>
                        <p>{{ adv.slug }}</p>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>

</div><!-- /.content-wrapper -->
{% endblock %}

{% block page_js %}
    <script>
    </script>
{% endblock %}