{% extends "front_main.html" %}
{% load thumbnail %}
{% load cropping %}
{% load menu_tags %}

{% block meta %}
  <title>Объявления - {{ category.name }} | Церковь Прославления</title>
  <meta name="description" content='{{ category.name }}. Частные объявления на сайте "Церкви Прославления"'/>
{% endblock %}

{% block content %}
<div id="obyavleniya" class="content-wrapper" style="margin-left:0"><!-- Content Wrapper. Contains page content -->

  <section id="drop_menu">
      {% menu_tree request %}
  </section>

  <section class="content adv_all">
    <div class="container">
      <div class="row">

        <div class="col-xs-7">
          <h1 class="">Обьявления категории <b>{{ category.name }}</b></h1>
        </div>

        <div class="col-xs-12" >
          <div class="row">
            <div class="col-xs-9 obyav_list">

              {% if adverts%}
              {% else %}
                Здесь пока нет объявлений!
              {% endif %}

              {% for adv in adverts %}
                <div class="obyav_item clearfix" >
                  <div class="image">
                    {% if adv.image %}
                      <img class="img-responsive" alt="{{ adv.name }}" src="{% cropped_thumbnail adv "cropping" scale=1 %}">
                    {% else %}
                      <img class="img-responsive" alt="no photo" src="/static/theme/img/no_photo.jpg">
                    {% endif %}
                  </div>
                  <div class="obyav_content">
                    <div class="title"><a href="{{ adv.url }}">{{ adv.name }}</a></div>
                    <div class="date">{{ adv.date }}</div>
                    <div class="text"><p>{{ adv.text|safe }}</p></div>
                    {% if adv.cost and  adv.cost != "0" %}
                      <div class="cost"><b>Цена:</b> {{ adv.cost }}</div>
                    {% endif %}
                    <div class="author_info clearfix">
                      <div class="phone">{{ adv.phone }}</div>
                      <div class="author">{{ adv.author }}</div>
                      {% if adv.member %}
                        <div class="member">Член Церкви Прославления</div>
                      {% endif %}
                    </div>
                    <div class="category">{{ adv.category }}</div>
                    {# <a href="{{ adv.url }}" class="btn btn-primary pull-right" style="margin-top: 10px;">Подробнее</a> #}
                  </div>
                </div>
              {% endfor %}

              {% if count_page > 1 %}
                <div class="col-xs-12" >
                  <ul class="pages_list">
                    {% for i in range_ %}
                      {% if i == pageNumber_ %}
                        <li class="active">{{ i }}</li>
                      {% else %}
                        {% if i == 1 %}
                          <li><a rel="nofollow" href="/adverts/">{{ i }}</a></li>
                        {% else %}
                          <li><a rel="nofollow" href="/adverts/?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

            </div>     

            <div class="col-xs-3 cat_list" >
              <div class="cat_item"><a href="/adverts/">Все объявления</a></div>
              {% for cat in categories %}
                {% if category_slug == cat.slug %}
                  <div class="cat_item"><a class="active" href="{{ cat.url }}">{{ cat.name }}</a></div>
                {% else %}
                  <div class="cat_item"><a href="{{ cat.url }}">{{ cat.name }}</a></div>
                {% endif %} 
              {% endfor %}
              <div class="cat_item"><a href="/adverts/add/">Добавить объявление</a></div>
            </div>
               
          </div>  
        </div>




      </div>

    </div>
  </section>

</div><!-- /.content-wrapper -->
{% endblock %}

{% block page_js %}
  <script>
  </script>
{% endblock %}