{% extends "front_main.html" %}
{% load thumbnail %}
{% load cropping %}
{% load menu_tags %}
{% load sitetree %}

{% block content %}
<div id="ministry" class="content-wrapper" style="margin-left:0"><!-- Content Wrapper. Contains page content -->

  <section id="drop_menu">
    {% menu_tree request %}
  </section>

  <section class="baner" style="background: url('{{ ministry.baner_url }}') center no-repeat;">
{#        <img src="{{ ministry.baner_url }}" alt="{{ ministry.name }} церкви прославления" style="position: absolute; margin-top:-22px; width:100%;">#}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {% sitetree_breadcrumbs from "site_menu" template "sitetree/breadcrumbs.html" %}
        </div>
        <div class="col-xs-5" id="baner_text">
          <h2 style="color:{{ ministry.color }};">{{ ministry.name }}</h2>
          <div class="lid_text">
            <p>{{ ministry.baner_text }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="content">
    <div class="container">
      <div class="row">

        <div class="col-xs-12"> 




<style>
form .errors{
color: red;
}
.ok {
  text-align: center;
  background: #009700;
  color: #fff;
  padding: 15px;
  float: left;
  font-size: 20px;
}
.flex{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flexbox;
display: -o-flex;
display: flex;
-webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;
justify-content: space-between;
}
h2{
  margin-top: 10px;
  font-size: 23px;
}
.block1{
margin-bottom: 20px;
font-size: 17px;
}
.block2{
font-size: 17px;
background: #03658f;
color: #fff;
padding: 14px 20px;
margin-bottom: 30px;
}
.gallery{
  text-align: center;
}
.block3{
  margin: 20px 0 40px;
  font-weight: 600;
}
.block3 h2{
padding: 10px;
background: #4cc0f0;
margin-bottom: 5px;
color: #fff;
text-align: center;
}
.programm{
color: #03658f;
}
.programm .item{
text-align: center;
width: 25%;
padding: 0 15px;
font-weight: 600;
} 
.blockanketa{
font-weight: 600;
margin-bottom: 30px;
}
.anketabtn{
color: #127fb6;
border-bottom: 1px dashed;
display: inline-block;
cursor: pointer;
margin-bottom: 20px;
}
.block5 {
margin-bottom: 40px;
background: #fff;
padding: 25px;
margin-top: 60px;
}
.block5 .text{
margin-top: 20px;
}
.block6{
margin-bottom: 40px;
text-align: center;
font-weight: 600;
}
.block6 h2{
padding: 10px;
background: #14af3d;
color: #fff;
text-align: center;
}
.block6 .rasp{
max-width: 500px;
margin: 20px auto 0;
}

.block7{
margin-bottom: 40px;
text-align: center;
font-weight: 600;
}
.block7 h2{
padding: 10px;
background: #cc1313;
color: #fff;
text-align: center;
}


.block8 h2 {
  padding: 10px;
  background: #f1b122;
  color: #fff;
  text-align: center;
}
.block8{
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
}








</style>

<div class="block1">
  <div class="flex">
    <div class="video">
    <iframe width="370" height="250" src="https://www.youtube.com/embed/{{ ministry.video }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="text1" style="width: 740px;"><h2>Добро пожаловать на Библейские курсы «Жизнь в победе»</h2>
    Если вы хотите больше узнать о Боге и Его воле для вашей жизни, или систематизировать то, что уже слышали и читали о новой жизни во Христе – добро пожаловать на библейские курсы! Наша цель - помочь христианам возрастать духовно, познавая Слово Божье, для эффективного служения Господу и людям, раскрыть духовные дары и помочь войти в свое призвание.
    </div>
  </div>
</div>
<div class="block2">
  <h2>История открытия</h2>
  <p>Вечерние Библейские Курсы в Томске начались в 2004 году, после того как пастор Олег Тихонов и команда служителей вернулись из Москвы, где год обучались в Библейском Центре «Слово жизни» и получили видение о Библейском образовании. 
  Спустя два года после начала 1 Курса, после обучения преподавателей в Красноярске по Лидерской программе «Миллион лидеров» Дж. Максвелла, в Томске начался второй курс. 
  Дневное отделение было открыто в 2015 году, так же, по откровению от Бога. </p>
</div>


<div class="gallery">
  {% for img in ministry.get_gallery_images %}
    <a class="fancybox-me" rel="gallery" href="{{ img.url }}">
      <img src="{% cropped_thumbnail img "cropping" scale=1 %}">
    </a>
  {% endfor %}
</div>








<div class="block3">
  <h2>Дневное отделение </h2>
  <p style="text-align:center;color:#ff524e;margin-bottom:15px;font-size:19px;">Начало занятий 1 октября 2020г. конец 25 апреля 2021г.</p>

  <p style="text-align: center;">Расписание занятий:</p>
  <div class="rasp" style="text-align: center;margin-bottom: 20px;">
    c Понедельника по четверг<br>
    9.00 - 9.30 молитва <br>
    9.30 - 10.20 - 1 урок<br>
    10.30 - 11.20 - 2 урок<br>
    11.40 - 12.30 - 3 урок<br>
    12.40 - 13.30 - 4 урок
  </div>

  <p style="text-align:center;margin-bottom:15px;font-size:19px;">Учебная программа дневного отделения:</p>

  <div class="programm flex">
    <div class="item">
    •&nbsp;Праведность  <br>
    •&nbsp;Освобождение <br>
    •&nbsp;Завет в крови <br>
    •&nbsp;Библия <br>
    •&nbsp;Обзоры Ветхого и Нового заветов <br>
    •&nbsp;Молитва <br>
    •&nbsp;Вера <br>
    •&nbsp;Власть верующего
    </div>
    <div class="item">
    •&nbsp;Благовестие<br>
    •&nbsp;Доктрины<br>
    •&nbsp;Исцеление<br>
    •&nbsp;Израиль<br>
    •&nbsp;Церковь<br>
    •&nbsp;Домашние группы<br>
    •&nbsp;Душепопечение
    </div>
    <div class="item">
    •&nbsp;Божий взгляд на преуспевание<br>
    •&nbsp;Брак и семья<br>
    •&nbsp;Характер Бога<br>
    •&nbsp;Этикет<br>
    •&nbsp;Этика служителя<br>
    •&nbsp;Страдания<br>
    •&nbsp;Послание к Римлянам<br>
    •&nbsp;Дух Святой и Его дары
    </div>
    <div class="item">
    •&nbsp;Дары служений<br>
    •&nbsp;Дары духовные<br>
    •&nbsp;Подготовка к служению<br>
    •&nbsp;История Церкви<br>
    •&nbsp;Деяния апостолов<br>
    •&nbsp;Миссия
    </div>
  </div>

</div>

 





<div class="block6">
  <h2>Вечернее отделение</h2>

  <p style="text-align:center;color:#ff524e;margin-bottom:15px;font-size:19px;">Обучение с 5 сентября 2020г. по 26 декабря 2020г.</p>


  <p>Расписание Вечернего отделения</p> 

  <div class="flex rasp">
    <div class="block61" style="width: 47%;">
      Пятница:  <br>
      18.30 Молитва<br>
      19.00-19.50 1 урок<br>
      20.10-21.00 2 урок<br>
    </div>
    <div class="block62" style="width: 47%;">
      Суббота:<br>
      10.00-10.50 молитвенная Школа <br>
      11.00-11.50 1 урок <br>
      12.00-12.50 2 урок <br>
      13.20-14.10 3 урок <br>
      14.20-15.10 4 урок <br>
      15.20-16.10 5 урок <br>
    </div>
  </div>
  <br> 

  <p style="text-align:center;margin-bottom:15px;font-size:19px;">Учебная программа Вечернего отделения:</p>

  <div class="programm flex">
    <div class="item">
    •&nbsp;Праведность <br>
    •&nbsp;Освобождение <br>
    •&nbsp;Библия <br>
    •&nbsp;Власть верующего <br>
    •&nbsp;Вера
    </div>
    <div class="item">
    •&nbsp;Завет в крови <br>
    •&nbsp;Израиль <br>
    •&nbsp;Молитва <br>
    •&nbsp;Доктрины
    </div>
    <div class="item">
    •&nbsp;Дух Святой и Его дары <br>
    •&nbsp;Финансы <br>
    •&nbsp;Благовестие <br>
    •&nbsp;История Церкви
    </div>
    <div class="item">
    •&nbsp;Брак и семья <br>
    •&nbsp;Церковь <br>
    •&nbsp;Дары служений <br>
    •&nbsp;Подготовка к служению
    </div>
  </div>
</div>

  




<div class="block7">
  <h2>Курс «Подготовка к служению»</h2>
  <p style="text-align:center;color:#ff524e;margin-bottom:15px;font-size:19px;">Начало занятий 11 января 2020г. конец 25 апреля 2020г. </p>
  <p>Для студентов, которые успешно закончили вечернее или дневное отделение БК, мы предлагаем продолжить обучение на лидерско-миссионерском курсе. Занятия проходят с января по апрель каждую субботу с 9:00 до 16:10</p>

  <p>Расписание</p> 

  <div class="rasp" style="text-align: center;margin-bottom: 20px;">
    Суббота: <br>
    10.00 — 10.50 — 1 урок <br>
    11.00 — 11.50 — 2 урок <br>
    12.00 — 12.50 — 3 урок <br>
    13.20 — 14.10 — 4 урок <br>
    14.20 — 15.10 — 5 урок <br>
    15.20 — 16.00 — 6 урок <br>
  </div>


  <p style="text-align:center;margin-bottom:15px;font-size:19px;">Учебная программа курса «Подготовка к служению»:</p>

  <div class="programm flex">
    <div class="item">
      •&nbsp;Ораторское искусство<br>
      •&nbsp;Приоритеты и решения<br>
      •&nbsp;Планирование<br>
      •&nbsp;Призвание<br>
      •&nbsp;Видение<br>
      •&nbsp;Сердце лидера
    </div>
    <div class="item">
      •&nbsp;Работа с людьми<br>
      •&nbsp;Миссия<br>
      •&nbsp;Домашние группы<br>
      •&nbsp;Альфа-курс<br>
      •&nbsp;Душепопечение<br>
      •&nbsp;Консультирование
    </div>
    <div class="item">
      •&nbsp;Финансы<br>
      •&nbsp;Как добиться результата в любом деле<br>
      •&nbsp;Ближний круг<br>
      •&nbsp;Проверка на лидерство<br>
      •&nbsp;Мудрое вложение<br>
      •&nbsp;Команда
    </div>
    <div class="item">
      •&nbsp;Делегирование<br>
      •&nbsp;Дух Святой и Его дары<br>
      •&nbsp;Искусство умывать ноги<br>
      •&nbsp;Духовная дисциплина.
    </div>
  </div>

</div>










<div class="block8">
  <h2>Курс «Школа Душепопечения»</h2>

  <p style="text-align:center;margin-bottom:15px;">Приглашаем вас пройти обучение в «Школе Душепопечения», на курсе «Основы христианского душепопечения». <br>
Здесь, вы познакомитесь с Библейским основанием Душепопечения и обретете навыки душепопечительской помощи ближнему.</p>

  <a class="btn btn-success" href="/news/235/">Подробнее</a>

  <p style="text-align:center;margin-bottom:15px;font-size:19px;">Учебная программа курса «Школы Душепопечения»:</p>

  <div class="programm flex">
    <div class="item" style="width: 49%;text-align: left;">
    <h4 style="font-size: 20px;">Учебная программа 1 модуль:</h4>
    <ul style="padding-left: 15px;">
        <li>Душепопечение: забота и консультирование.</li>
        <li>Пятиступенчатая модель консультирования. Душепопечительское чтение Священного Писания.</li>
        <li>Душепопечительское воспитание. Наставничество.</li>
        <li>Кризисное консультирование. Утрата, гнев, обиды, депрессия. Семейное консультирование.</li>
        <li>Созависимость. Консультирование по сексуальным вопросам.</li>
    </ul>
    </div>

    <div class="item" style="width: 49%;text-align: left;">
    <h4 style="font-size: 20px;">Учебная программа 2 модуль:</h4>
        <li>Качества душепопечителя. Этические принципы душепопечения. Пасторское консультирование.</li>
        <li>Половое воспитание. Нормы в психосексуальном развитии ребёнка.</li>
        <li>Семейное консультирование. Измена, развод. Родительско-детские отношения.</li>
        <li>Сексуальные отношения в браке. Принципы и границы в сексуальных отношениях. Планирование семьи.</li>
    </div>

  </div>



  <!-- 
  <p>Расписание занятий:</p> 

  <div class="rasp" style="text-align: center;margin-bottom: 20px;">
    Суббота: <br>
    с 10:00 до 16:00
  </div>


  <p style="text-align:center;margin-bottom:15px;font-size:19px;">Учебная программа курса «Школы Душепопечения»:</p>

  <div class="programm flex">
    <div class="item" style="width: 20%;">
    <h4 style="font-size: 20px;">1.06.20</h4>
    • Душепопечение: забота и консультирование <br>
    </div>

    <div class="item" style="width: 20%;">
    <h4 style="font-size: 20px;">8.06.20</h4>
    • Пятиступенчатая модель консультирования. <br>
    • Душепопечительское чтение Священного Писания.
    </div>

    <div class="item" style="width: 20%;">
    <h4 style="font-size: 20px;">15.06.20</h4>
    • Душепопечительское воспитание (наставничество).
    </div>

    <div class="item" style="width: 20%;">
    <h4 style="font-size: 20px;">22.06.20</h4>
    • 1. Кризисное консультирование. Утрата, гнев, обиды, депрессия.<br>
    • 2. Семейное консультирование.
    </div>

    <div class="item" style="width: 20%;">
    <h4 style="font-size: 20px;">29.06.20</h4>
    • 1. Консультирование по сексуальным вопросам. <br>
    • 2. Созависимость.
    </div>

  </div> -->

  <p style="margin: 40px;">
    Все обучение проходит в удобном онлайн формате!
  </p>
  <p style="margin: 30px;">
    При успешном окончании курсов, вы получите сертификат о прослушивании курса «Основы христианского душепопечения». <br>
    Для поступления на курс, важно иметь сертификат об окончании базового курса по изучению Библии (вечернего, дневного или онлайн отделения).
  </p>

  <br>

  <p>
    Регистрация на курс по ссылке <a href="https://biblecourses.ru/shkola-dushepopecheniya/">https://biblecourses.ru/shkola-dushepopecheniya/</a>
  </p>



</div>


<div class="block5">
  <hr>
    <p style="text-align: center;"><b>По всем интересующим вопросам обращаться по тел.: <a href="tel:89528809002">8(952)880-90-02</a></b></p>
  <hr>
</div>




<div class="block5">
  <div class="flex">
    <div class="stud" style="width: 41%;font-size: 14px;">
      <div style="font-size: 20px;" class="title">Наши студенты</div>
      <p>Томичи и приезжие из других городов и стран, разных возрастов и социальных слоев.
      Мы верим, что каждый христианин, примирившись с Богом, должен пройти обучающий процесс для духовного возрастания. <br>
      Наши студенты - люди с разным уровнем духовной зрелости: от новообращенных до служителей 
      и действующих пасторов, миссионеры.<br>
      Уже во время обучения каждый из студентов входит в служения Церкви, где и продолжает 
      трудиться по окончании Курсов.<br>
      200 человек начали домашние группы. <br>
      Многие уехали на миссию и стали пасторами и лидерами церквей.</p>
    </div>
    <div class="prepoda" style="width: 53%;font-size: 14px;">
      <div style="font-size: 20px;" class="title">Преподаватели</div>
      <p>В преподавательский состав входят 14 человек.<br>
      Все учителя являются служителями и лидерами отделов церкви, пасторами, пресвитерами. <br>
      Учителя прошли обучение на Библейских курсах в Библейском Центре «Слово Жизни» Москва.<br>
      На сегодняшний день 5 человек обучаются в Евроазиатской богословской семинарии, в ближайшее время получат степень «магистр Церковного служения»<br>
      Наши преподаватели - высококвалифицированные, дипломированные специалисты: религиоведы, соц. работники, педагоги-психологи. <br>
      Учителя наших Курсов служат в других городах и странах, снаряжая верующих на дело служения, проводят лидерские Конференции в России, различные семинары и мастер-классы. </p>
    </div>
  </div>
  <div class="text">
    <p>Обучающий процесс включает в себя лекционные занятия, молитвенную практику и практику движения в дарах Духа Святого. Помимо изучения Слова Божьего, студенты читают дополнительную духовную литературу, принимают участие в служениях Церкви, евангелизациях в городе и на миссионерских полях.</p>
  </div>
</div>




<div class="blockanketa">
  <p style="text-align: center;">
  Для поступления на библейские курсы необходимо  <br>
  пройти регистрацию и заполнить анкету,<br>
   которую вы видите в этом разделе сайта. <br>
  По всем вопросам звоните секретарю <br>
  дневного отделения БК: <a href="tel:89528809002">8(952)880-90-02</a>
  </p>

<!--  <div class="text-center">
    <span class="anketabtn">АНКЕТА</span>
  </div>
-->

            {% if form_msg %} 
              <div class="form_msg">{{ form_msg.0 }}</div>
              <style>
                .form_msg{
                  background: {{ form_msg.1 }}; //{
                  padding: 30px 30px 27px;
                  color: #fff;
                  font-size: 21px;
                  text-align: center;
                  text-transform: uppercase;
                }
              </style> 
            {% endif %}


  <div class="bs_form_container"  >
    <form action="." method="post" class="siteform">
      {% csrf_token %}
      <h3>Анкета для поступления на дневное или вечернее отделение Бк</h3>
      {# {{ form }} #}




      <input name="formname" type="hidden" value="Анкета БШ" class="form-control">
      <input name="fields" type="hidden" value="formname;fio;birth_day;phone;city;family_status;you_church;pastor_fio_phone;is_believer;salvation_day;christening_day;is_church_member;used_tobacco;drink_alcohol;used_drugs;involved_occult;what_ministry;you_mission;form_of_study;is_pastor_know;is_blagoslovenie;is_vernutsya;psyho_disp" class="form-control">
      <input name="not_necessary" type="hidden" value="is_believer;is_church_member;is_pastor_know;is_blagoslovenie;is_vernutsya;psyho_disp;" class="form-control">

      <div class="fio">{{form.fio}}</div>
      <div class="birth_day">{{form.birth_day}}</div>
      <div class="phone">{{form.phone}}</div>


      <div class="tomsk_or_no">
        <label for="id_tomsk_or_no">Ваш город?
          <select id="id_tomsk_or_no" name="tomsk_or_no">
            <option value="tomsk" selected="selected">Томск</option>
            <option value="other">Другой (указать ниже)</option>
          </select>
        </label>
      </div>

      <div class="city" style="display:none;">
        <input class="form-control floating-label" id="id_city" name="city" placeholder="Город проживания" type="text" value="Томск">
      </div>

      <div class="family_status">{{form.family_status}}</div>
      <div class="you_church">{{form.you_church}}</div>
      <div class="pastor_fio_phone">
        <input class="form-control floating-label" id="id_pastor_fio_phone" name="pastor_fio_phone" placeholder="ФИО Пастора и телефон" type="text">
      </div>
      <div class="is_believer checkbox">
        <label><input id="id_is_believer" name="is_believer" type="checkbox" value="нет">
        <span class="checkbox-material"><span class="check"></span></span> Веруете ли Вы в Иисуса Христа как своего Господа и Спасителя
        </label>
      </div>
      <div class="salvation_day">{{form.salvation_day}}</div>


      <div class="christening_day">
        <input class="form-control floating-label" id="id_christening_day" name="christening_day" placeholder="Принимали ли Вы водное крещение? Укажите дату." type="text">
      </div>

      <div class="is_church_member checkbox">
        <label>
        <input id="id_is_church_member" name="is_church_member" type="checkbox" value="нет">
        <span class="checkbox-material"><span class="check"></span></span> Являетесь ли Вы членом Церкви
        </label>
      </div>

      <div class="used_tobacco">
        <input class="form-control floating-label" id="id_used_tobacco" name="used_tobacco" placeholder="Употребляли ли Вы табак? Если да, то когда в последний раз?" type="text">
      </div>
      <div class="drink_alcohol">
        <input class="form-control floating-label" id="id_drink_alcohol" name="drink_alcohol" placeholder="Употребляли ли Вы алкоголь? Если да, то когда в последний раз?" type="text">
      </div>
      <div class="used_drugs">
        <input class="form-control floating-label" id="id_used_drugs" name="used_drugs" placeholder="Употребляли ли Вы наркотики? Если да, то когда в последний раз?" type="text">
      </div>
      <div class="involved_occult">
        <input class="form-control floating-label" id="id_involved_occult" name="involved_occult" placeholder="Были ли Вы связаны с оккультизмом?" type="text">
      </div>

      <div class="what_ministry">
        <input class="form-control floating-label" id="id_what_ministry" name="what_ministry" placeholder="В каком служении Вы состоите? Где хотели бы себя попробовать?" type="text">
      </div>

      <div class="you_mission">{{form.you_mission}}</div>

      <div class="form_of_study">
        <label for="id_form_of_study">Форма обучения: 
          <select id="id_form_of_study" name="form_of_study">
            <option value="дневная" selected="selected">дневная</option>
            <option value="вечерняя">вечерняя</option>
            <option value="подготовка к служению">подготовка к служению</option>
            <option value="школа душепопечительства">школа душепопечительства</option>
          </select>
        </label>
      </div>

      <div class="is_pastor_know checkbox">
        <label><input id="id_is_pastor_know" name="is_pastor_know" type="checkbox" value="нет">
        <span class="checkbox-material"><span class="check"></span></span> Знает ли пастор вашей Церкви, о вашем желании обучаться на БК?
        </label>
      </div>
      <div class="is_blagoslovenie checkbox">
        <label><input id="id_is_blagoslovenie" name="is_blagoslovenie" type="checkbox" value="нет">
        <span class="checkbox-material"><span class="check"></span></span> Имеете ли вы благословение вашего пастора для обучения?
        </label>
      </div>
      <div class="is_vernutsya checkbox">
        <label><input id="id_is_vernutsya" name="is_vernutsya" type="checkbox" value="нет">
        <span class="checkbox-material"><span class="check"></span></span> Обязуетесь ли вы по окончании обучения вернуться в свою церковь?
        </label>
      </div>
      <div class="id_psyho_disp checkbox">
        <label>
        <input id="id_psyho_disp" name="psyho_disp" type="checkbox" value="нет">
          <span class="checkbox-material"><span class="check"></span></span> Состоите ли вы на учете в психо-неврологическом диспансере?
        </label>
      </div>






      <input class="form-control floating-label" id="e_mail" name="e_mail" placeholder="Не_заполняйте_это_поле" type="email">

      <div class="rules checkbox">
        <label>{{form.rules}}
        <span class="checkbox-material"><span class="check"></span></span> Я понимаю, что, как слушатель Библейских курсов, я обязан следовать установленным правилам
        </label>
      </div>
      <div class="agreement checkbox">
        <label>{{form.agreement}}
        <span class="checkbox-material"><span class="check"></span></span> Я ознакомлен(а) и согласен(а) с <a href="//proslavlenie.ru/page/polzovatelskoe-soglashenie/" target="_blank">пользовательским соглашением об использовании персональных данных</a>
        </label>
      </div>
      <div>Администрация библейских курсов оставляет за собой право отказать в приеме на обучение  без объяснения причин</div>

      <input type="submit" name="bs_form" class="btn btn-success form_submit" style="display: block;margin-top: 20px;float: right;display: none;" value="Отправить">

      <div class="send btn btn-success" style="display: block;margin-top: 20px;float: right;">Отправить</div>

      <div class="errorswrap"></div>

    </form>
  </div>




</div>



</div>









          
        </div>

      </div>
    </div>
  </section>

 

 
</div><!-- /.content-wrapper -->
{% endblock %}

{% block page_js %}
  <script src='{{ STATIC_URL }}AdminLte/plugins/fastclick/fastclick.min.js'></script>
  <script src="{{ STATIC_URL }}AdminLte/dist/js/app.min.js" type="text/javascript"></script>
{#    <script src='{{ STATIC_URL }}theme/js/swiper.jquery.min.js'></script>#}
  <script src="{{ STATIC_URL }}theme/js/swiper.min.js" type="text/javascript"></script>
  <script>
  var swiper = new Swiper('.swiper-container', {
{#        pagination: '.swiper-pagination',#}
{#        paginationClickable: true,#}
    direction: 'vertical'
  });
  $('.my-pager').on('click', function(){
     swiper.slideTo($(this).index());
  });
  </script>




  <style>
    #e_mail.form-control{
    display: none;
    }
  </style>
  <script>
    var send = false;
    (function($){$(document).ready(function(){



      $('.id_tomsk_or_no').on('change',function(){
        if ($(this).val()!='tomsk') {
          $('#id_city').val('');
          $('.city').slideDown();
        }else{
          $('#id_city').val('tomsk');
          $('.city').slideUp();
        };
      });



    $('input[type="checkbox"]').on('change', function(){
      if($(this).prop('checked')){
        $(this).val('Да');
      }else{
        $(this).val('Нет');
      }
    });


    
    $(".siteform .send").click(function() {
      var that = $(this);
      form = that.parents('.siteform');
      if (send == false) {
      var str = form.serialize();
      console.log(form);
      console.log(str);
      $.ajax({
        type: "POST",
        url: "https://form.proslavlenie.ru/mail.php",
        data: str,
        success: function(msg) {
        console.log(msg);
        if(msg == 'ok') {
          result = '<div class="ok">Спасибо! Ваше сообщение отправлено. <p style="font-size: 13px">Обновите страницу для повторной отправки анкеты</p></div>';
          form.append(result);
          form.find('.errorswrap').html('');
          send = true;
          //form.submit();
          //submit = form.find('.form_submit');
          //submit.click();
        }
        else {
          form.find('.errorswrap').html('<div class="errors">'+msg+'</div>');
        }
        }
      });
      return false;
      }
      return false;
    });


    $('.anketabtn').click(function(){
      if ($('.bs_form_container').css('display') == 'none') {
        $('.bs_form_container').slideDown();
      }else{
        $('.bs_form_container').slideUp();
      }
    });
    



    });})(jQuery);
  </script> 

{% endblock %}
