{% extends "front_main.html" %}
{% load thumbnail %}
{% load cropping %}
{% load menu_tags %}
{% load sitetree %}

{% block content %}
<div id="ministry" class="content-wrapper" style="margin-left:0"><!-- Content Wrapper. Contains page content -->

    <section id="drop_menu">
        {% menu_tree request %}
    </section>

    <section class="baner" style="background: url('{{ ministry.baner_url }}') center no-repeat;">
{#        <img src="{{ ministry.baner_url }}" alt="{{ ministry.name }} церкви прославления" style="position: absolute; margin-top:-22px; width:100%;">#}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% sitetree_breadcrumbs from "site_menu" template "sitetree/breadcrumbs.html" %}
                </div>
                <div class="col-xs-5" id="baner_text">
                    <h2 style="color:{{ ministry.color }};">{{ ministry.name }}</h2>
                    <div class="lid_text">
                        <p>{{ ministry.baner_text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="content">
        <div class="container">
            <div class="row">

                <div class="col-xs-7">
                    <h1 class="">{{ news.name }}</h1>
                </div>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <iframe width="370" height="250"
                                src="https://www.youtube.com/embed/{{ ministry.video }}" frameborder="0" allowfullscreen></iframe>
                            <br/>
                            <p style="margin-top: 40px;">{{ ministry.description }}<p>
                        </div>
                        <div class="col-xs-8">



                            {% if form_msg %}
                                <div class="col-xs12">
                                    <div class="form_msg">{{ form_msg.0 }}</div>
                                    <style>
                                        .form_msg{
                                            background: {{ form_msg.1 }};
                                            padding: 30px 30px 27px;
                                            color: #fff;
                                            font-size: 21px;
                                            text-align: center;
                                            text-transform: uppercase;
                                        }
                                    </style>
                                </div>
                            {% endif %}





                            {% if request.path_info == '/ministry/biblejskie-kursy/' %}
                                <div class="bs_form_container">
                                    <form action="." method="post">
                                        {% csrf_token %}
                                        <h3>Анкета для поступления в БШ</h3>
                                        {# {{ form }} #}
<div class="fio">{{form.fio}}</div>
<div class="birth_day">{{form.birth_day}}</div>
<div class="phone">{{form.phone}}</div>
<div class="city">{{form.city}}</div>
<div class="family_status">{{form.family_status}}</div>
<div class="you_church">{{form.you_church}}</div>
<div class="church_city">{{form.church_city}}</div>
<div class="pastor_fio">{{form.pastor_fio}}</div>
<div class="is_church_member checkbox">
  <label>
    {{form.is_church_member}}
    <span class="checkbox-material"><span class="check"></span></span> Являетесь ли Вы членом Церкви
  </label>
</div>
<div class="is_believer checkbox">
  <label>{{form.is_believer}}
    <span class="checkbox-material"><span class="check"></span></span> Веруете ли Вы в Иисуса Христа как своего Господа и Спасителя
  </label>
</div>
<div class="salvation_day">{{form.salvation_day}}</div>
<div class="you_mission">{{form.you_mission}}</div>
<div class="form_of_study"><label for="id_form_of_study">Форма обучения: {{form.form_of_study}}</label></div>
<div class="rules checkbox">
  <label>{{form.rules}}
    <span class="checkbox-material"><span class="check"></span></span> Я понимаю, что, как слушатель Библейских курсов, я обязан следовать установленным правилам
  </label>
</div>
<div class="agreement checkbox">
  <label>{{form.agreement}}
    <span class="checkbox-material"><span class="check"></span></span> Я ознакомлен(а) и согласен(а) с <a href="//proslavlenie.ru/page/polzovatelskoe-soglashenie/" target="_blank">пользовательским соглашением об использовании персональных данных</a>
  </label>
</div>

                                        <input type="submit" name="bs_form" class="btn btn-success" style="display: block;margin-top: 20px;float: right;" value="Отправить">
                                    </form>
                                </div>
                            {% endif %} 










                            {% if request.path_info == '/ministry/molodezhnoe-sluzhenie/' %}
                                <style>
                                .whoiam_custom{display: none;}
                                .social .fa-ok.social-ic,.social .fa-facebook-f.social-ic,.social .fa-twitter.social-ic{display: none;}
                                </style>
                                <div class="bs_form_container">
                                    <h3>Лидерская конференция для молодежных и подростковых служителей PLAY 2017</h3>
                                    <p>Конференция пройдет в формате выезда на базе «Церкви Прославления» г. Томск. </p>
                                    <p>Даты конференции 22-25 августа. Необходима регистрация</p>
                                    <p>Для регистрации заполните анкету ниже.</p>
                                </div> 
                                <div class="bs_form_container">
                                    <form action="." method="post">
                                        {% csrf_token %}
                                        <h3>Регистрация в конференции PLAY 2017</h3>
<div class="fio">{{form.fio}}</div>
<div class="age">{{form.age}}</div>
<div class="sex">
    <label for="id_how_class">
        Пол
        {{form.sex}}
    </label>
</div>
<div class="city">{{form.city}}</div>
<div class="you_church">{{form.you_church}}</div>
<div class="pastor_fio">{{form.pastor_fio}}</div>
<div class="whoiam">
    <label for="id_how_class">
        Кем вы являетесь на данный момент
        {{form.whoiam}}
    </label></div>
<div class="whoiam_custom">{{form.whoiam_custom}}</div>
<div class="email">{{form.email}}</div>
<div class="agreement checkbox">
  <label>{{form.agreement}}
    <span class="checkbox-material"><span class="check"></span></span> Я ознакомлен(а) и согласен(а) с <a href="//proslavlenie.ru/page/polzovatelskoe-soglashenie/" target="_blank">пользовательским соглашением об использовании персональных данных</a>
  </label>
</div>

                                        <input type="submit" name="ms_form" class="btn btn-success" style="display: block;margin-top: 20px;float: right;" value="Отправить">
                                    </form>
                                </div>

                            {% endif %} 




                            <div class="gallery">
{#                                <div class="row">#}
                                    {% for img in ministry.get_gallery_images %}
{#                                        <div class="col-xs-2">#}
                                            <a class="fancybox-me" rel="gallery" href="{{ img.url }}"><img src="{% cropped_thumbnail img "cropping" scale=1 %}"></a>
{#                                        </div>#}
                                    {% endfor %}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="color_block" style="background-color:{{ ministry.color }}; padding:35px 0;
        color: #fff;">
        <div class="container"> 
            <div class="row">
                <div class="col-xs-12">
                    {{ ministry.allocate_description }}
                </div>
            </div>
        </div>
    </section>


    <section class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    {% if request.path_info == '/ministry/molodezhnoe-sluzhenie/' %}
                        <h3 style="color: #2049a1;" id="leadertitle">Молодежный пастор</h3>
                    {% else %}
                        <h3 style="color: #2049a1;" id="leadertitle">Лидер служения</h3>
                    {% endif %} 

                    <div class="row">
                        <div class="col-xs-4">
                            <a class="fancybox-me" rel="leaderphoto" href="/media/{{ ministry.leader.photo }}">
                                <img src="/media/{{ ministry.leader.photo }}" style="width:85px; border-radius:85px;" alt="Лидер служения">
                            </a>
                            
                        </div>
                        <div class="col-xs-8">
                            <h5>{{ ministry.leader.first_name }}</h5> 
                            <h5>{{ ministry.leader.last_name }}</h5> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-xs-offset-1">
                    <h3 style="color: #2049a1;">Контакты</h3>
                    <p>моб. {{ ministry.leader.public_phone }}</p> 
                    <p>{{ ministry.leader.email }}</p> 
                </div>
            </div>
        </div>
    </section>

</div><!-- /.content-wrapper -->
{% endblock %}

{% block page_js %}
    <script src='{{ STATIC_URL }}AdminLte/plugins/fastclick/fastclick.min.js'></script>
    <script src="{{ STATIC_URL }}AdminLte/dist/js/app.min.js" type="text/javascript"></script>
{#    <script src='{{ STATIC_URL }}theme/js/swiper.jquery.min.js'></script>#}
    <script src="{{ STATIC_URL }}theme/js/swiper.min.js" type="text/javascript"></script>
    <script>
    var swiper = new Swiper('.swiper-container', {
{#        pagination: '.swiper-pagination',#}
{#        paginationClickable: true,#}
        direction: 'vertical'
    });
    $('.my-pager').on('click', function(){
       swiper.slideTo($(this).index());
    });
    </script>

    {% if request.path_info == '/ministry/molodezhnoe-sluzhenie/' %}
        <script>
            (function($) {
                $(document).ready(function() {
                    // отобразим скрытое поле
                    $("#id_whoiam").on("change", function(){
                        if ($(this).val()=='8') {
                            console.log('8');
                            $('.whoiam_custom').css('display','block');
                        }else{
                            console.log('__');
                            $('.whoiam_custom').css('display','none');
                        }
                    });
                });
            })(jQuery);
        </script>
    {% endif %} 


{% endblock %}
