{% extends "front_main.html" %}
{% load thumbnail %}
{% load cropping %}
{% load menu_tags %}

{% block content %}
<div id="news" class="content-wrapper" style="margin-left:0"><!-- Content Wrapper. Contains page content -->

    <section id="drop_menu">
        {% menu_tree request %}
    </section>

    <section class="content news_all">
        <div class="container">
            <div class="row">

                <div class="col-xs-7">
                    <h1 class="">Новости</h1>
                </div>

                {% for news in news_all %}
                    <div class="col-xs-12" style="margin-bottom: 30px;">
                        <h4><a href="{{ news.url }}">{{ news.name }}</a></h4>
                        <img src="{% cropped_thumbnail news "cropping" scale=1 %}">
                        <p style="font-size: 15px;">{{ news.description|truncatewords:100|safe }}</p>
                        <a href="{{ news.url }}"><button class="btn btn-primary pull-right" style="margin-top: 10px;">Подробнее</button></a>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>

</div><!-- /.content-wrapper -->
{% endblock %}

{% block page_js %}
    <script src='{{ STATIC_URL }}AdminLte/plugins/fastclick/fastclick.min.js'></script>
    <script src="{{ STATIC_URL }}AdminLte/dist/js/app.min.js" type="text/javascript"></script>
{#    <script src='{{ STATIC_URL }}theme/js/swiper.jquery.min.js'></script>#}
    <script src="{{ STATIC_URL }}theme/js/swiper.min.js" type="text/javascript"></script>
    <script>
    var swiper = new Swiper('.swiper-container', {
{#        pagination: '.swiper-pagination',#}
{#        paginationClickable: true,#}
        direction: 'vertical'
    });
    $('.my-pager').on('click', function(){
       swiper.slideTo($(this).index());
    });
    </script>
{% endblock %}