{% extends "front_main.html" %}
{% load thumbnail %}
{% load cropping %}
{% load menu_tags %}

{% block content %}
<div class="content-wrapper partnership partnership_project" style="margin-left:0"><!-- Content Wrapper. Contains page content -->

  <section id="drop_menu">
    {% menu_tree request %}
  </section>



  <section class="content">
    <div class="container">

      <div style="font-size: 21px;border-bottom: 1px solid #d5d5d5;margin-bottom: 15px;">
        <a href="/partnership/">Все проекты</a>
      </div>

      <div class="row">
        <div class="col-xs-7">
          <h1 class="">{{ project.name }}</h1>
        </div>

        <div class="col-xs-12">

          <div class="text">{{ project.text }}</div>          
          <div class="needsText">{{ project.needsText }}</div>   
        </div>


        <div class="col-xs-5">
          <div class="image">
            {% if project.image %}
              <img class="img-responsive" alt="{{ project.name }}" src="{% cropped_thumbnail project "cropping" scale=1 %}">
            {% else %}
              <img class="img-responsive" alt="no photo" src="/static/theme/img/no_photo.jpg">
            {% endif %}
          </div>      
        </div>
        <div class="col-xs-7">
          {% if project.id == 8 %}
            <div style="font-size: 22px;">
              <p>Являясь нашим партнером, Вы вместе с нами:</p>
              <p>Проповедуете Евангелие в других городах и странах<br>
              Духовно поддерживаете верующих и меняете жизни людей</p>
            </div>
          {% elif project.id == 6 %}
            <div style="font-size: 22px;"> Станьте партнером. Заполнив анкету, мы подарим Вам бесплатный авторский видео курс Юлии Тихоновой.</div>
          {% else %}
            <div class="goal"><div class="title">Необходимо:</div> {{ project.goal }} руб.</div>
            <div class="goalline"><div class="persent">{{ project.complete }}%</div><div class="progress" style="width:{{ project.complete }}%"></div></div>
            <div class="current"><div class="title">Собрано:</div> {{ project.current }} руб.</div>
          {% endif %}

          <div class="bttns">
            {% if project.id == 6 %}
              <a class="btn btn-default" href="http://donation.proslavlenie.ru/index.php?id_project={{project.id}}" target="_blank">Пожертвовать единоразово</a>
              <div class="btn btn-default" data-toggle="modal" data-target="#podpisatsya">Стать партнером</div>
            {% else %}
              <a class="btn btn-default" href="http://donation.proslavlenie.ru/index.php?id_project={{project.id}}" target="_blank">Пожертвовать единоразово</a>
              <div class="btn btn-default" data-toggle="modal" data-target="#becomepartner">Стать партнером</div>
            {% endif %}
          </div>

          <div class="date">Дата публикации проекта на сайте: {{ project.date }}</div>
        </div>
            
        </div>


      </div>
    </div>
  </section>

 

<div class="modal fade" id="becomepartner" tabindex="-1" role="dialog" aria-labelledby="becomepartnerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="becomepartnerLabel" style="line-height: 30px;margin-bottom: 16px;text-align: center;">Чтобы стать партнером <br> заполните форму:</h4>
      </div>
      <div class="modal-body">
        <form class="siteform">
          <input type="hidden" name="csrfmiddlewaretoken" value="UmBfsvlwoSm6CGz2dra5JNhDc4AA55W1">
          <input name="fields" type="hidden" value="formname;project;fio;phone;email;how_often;summ" >
          <input name="formname" type="hidden" value="Анкета партнера">
          <input name="project" type="hidden" value="{{ project.name }}">

          <div class="fio"><input class="form-control floating-label" id="id_fio" name="fio" placeholder="Ф.И.О" type="text"></div>
          <div class="phone"><input class="form-control floating-label" id="id_phone" name="phone" placeholder="Контактный телефон" type="text"></div>
          <div class="email"><input class="form-control floating-label" id="id_email" name="email" placeholder="E-mail" type="text"></div>
          <div class="how_often"><input class="form-control floating-label" id="id_how_often" name="how_often" placeholder="Как часто вы можете пожертвовать (Н-р: Ежемесячно)" type="text"></div>
          <div class="summ"><input class="form-control floating-label" id="id_summ" name="summ" placeholder="Сумма" type="text"></div>
          <input class="form-control floating-label" id="e_mail" name="e_mail" placeholder="Не_заполняйте_это_поле" type="email">
          <div class="agreement checkbox">
            <label><input checked="checked" id="id_agreement" name="agreement" type="checkbox">
            <span class="checkbox-material"><span class="check"></span></span> Я ознакомлен(а) и согласен(а) с <a href="//proslavlenie.ru/page/polzovatelskoe-soglashenie/" target="_blank">пользовательским соглашением об использовании персональных данных</a>
            </label>
          </div> 
          <div class="send btn btn-success" style="position: relative;z-index: 2;">Отправить</div> 
          <div class="errorswrap"></div> 
        </form>
      </div>
      <div class="modal-footer" style="margin-top: -60px;margin-bottom: 0;position: relative;z-index: 1;">
        <button class="btn btn-warning" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>


{# <div class="modal fade" id="podpisatsya" tabindex="-1" role="dialog" aria-labelledby="podpisatsyaLabel" aria-hidden="true"> #}
{#   <div class="modal-dialog"> #}
{#     <div class="modal-content"> #}
{#       <div class="modal-header"> #}
{#         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> #}
{#         <h4 class="modal-title" id="podpisatsyaLabel" style="line-height: 30px;margin-bottom: 16px;text-align: center;">Чтобы получить курс <br> заполните форму и подпишитесь на рассылку:</h4> #}
{#       </div> #}
{#       <div class="modal-body"> #}
{#         <form style="padding-bottom: 40px;" target="_blank" action='https://ru.msndr.net/subscriptions/xmdqascveumcuvbir/form' charset='UTF-8' method='post'> #}
{#           <!-- <label class="required" for="email">Email</label> --> #}
{#           <input placeholder="Email *" type="text" name="recipient[email]" id="recipient_email" value="" required="required" class="form-control" /> #}
{#           <input type="hidden" name="recipient[recipient_values_attributes][69819][recipient_parameter_id]" id="recipient_recipient_values_attributes_69819_recipient_parameter_id" value="69819" /> #}
{#           <!-- <label class="required" for="recipient_recipient_values_attributes_69819_value">Фамилия</label> --> #}
{#           <input placeholder="Фамилия *" type="text" name="recipient[recipient_values_attributes][69819][value]" id="recipient_recipient_values_attributes_69819_value" class="form-control" required="required" /> #}
{#           <input type="hidden" name="recipient[recipient_values_attributes][69820][recipient_parameter_id]" id="recipient_recipient_values_attributes_69820_recipient_parameter_id" value="69820" /> #}
{#           <!-- <label class="required" for="recipient_recipient_values_attributes_69820_value">Имя</label> --> #}
{#           <input placeholder="Имя *" type="text" name="recipient[recipient_values_attributes][69820][value]" id="recipient_recipient_values_attributes_69820_value" class="form-control" required="required" /> #}
{#           <input type="hidden" name="recipient[recipient_values_attributes][69821][recipient_parameter_id]" id="recipient_recipient_values_attributes_69821_recipient_parameter_id" value="69821" /> #}
{#           <!-- <label class="required" for="recipient_recipient_values_attributes_69821_value">Отчество</label> --> #}
{#           <input placeholder="Отчество *" type="text" name="recipient[recipient_values_attributes][69821][value]" id="recipient_recipient_values_attributes_69821_value" class="form-control" required="required" /> #}
{#           <input type="hidden" name="recipient[recipient_values_attributes][69822][recipient_parameter_id]" id="recipient_recipient_values_attributes_69822_recipient_parameter_id" value="69822" /> #}
{#           <!-- <label class="" for="recipient_recipient_values_attributes_69822_value">Телефон</label> --> #}
{#           <input placeholder="Телефон" type="text" name="recipient[recipient_values_attributes][69822][value]" id="recipient_recipient_values_attributes_69822_value" class="form-control" /> #}
{#           <input type="hidden" name="recipient[recipient_values_attributes][69823][recipient_parameter_id]" id="recipient_recipient_values_attributes_69823_recipient_parameter_id" value="69823" /> #}
{#           <!-- <label class="required" for="recipient_recipient_values_attributes_69823_value">Адрес</label> --> #}
{#           <input placeholder="Адрес *" type="text" name="recipient[recipient_values_attributes][69823][value]" id="recipient_recipient_values_attributes_69823_value" class="form-control" required="required" /> #}
{#           <button class="btn btn-success" type='submit'>Подписаться</button> #}
{#         </form> #}
{#       </div> #}
{#       <div class="modal-footer" style="margin-top: -60px;margin-bottom: 0;position: relative;z-index: 1;"> #}
{#         <button class="btn btn-warning" data-dismiss="modal">Закрыть</button> #}
{#       </div> #}
{#     </div> #}
{#   </div> #}
{# </div> #}



<div class="modal fade" id="podpisatsya" tabindex="-1" role="dialog" aria-labelledby="podpisatsyaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="podpisatsyaLabel" style="line-height: 30px;margin-bottom: 16px;text-align: center;">Для того чтобы стать партнером заполните анкету:</h4>
      </div>
      <div class="modal-body">
        <form style="padding-bottom: 40px;" charset='UTF-8' class="siteform">
          <input name="fields" type="hidden" value="formname;email;surname;name;patronymic;phone;adress" >
          <input name="formname" type="hidden" value="Партнер служения пастора Олега и Юлии">
          <input placeholder="Email" type="text" name="email" value="" required="required" class="form-control" />
          <input placeholder="Фамилия" type="text" name="surname" class="form-control" required="required" />
          <input placeholder="Имя" type="text" name="name" class="form-control" required="required" />
          <input placeholder="Отчество" type="text" name="patronymic" class="form-control" required="required" />
          <input placeholder="Телефон" type="text" name="phone" class="form-control" />
          <input placeholder="Адрес" type="text" name="adress" class="form-control" required="required" />
          <input placeholder="Сумма ежемесячного пожертвования" type="text" name="summ" class="form-control" required="required" />
          <input class="form-control floating-label" id="e_mail" name="e_mail" placeholder="Не_заполняйте_это_поле" type="email">
          <div class="agreement checkbox">
            <label><input checked="checked" id="id_agreement" name="agreement" type="checkbox">
            <span class="checkbox-material"><span class="check"></span></span> Я ознакомлен(а) и согласен(а) с <a href="//proslavlenie.ru/page/polzovatelskoe-soglashenie/" target="_blank">пользовательским соглашением об использовании персональных данных</a>
            </label>
          </div> 
          <div class="send btn btn-success" style="position: relative;z-index: 2;">Подписаться</div> 
          <div class="errorswrap"></div> 
        </form>
      </div>
      <div class="modal-footer" style="margin-top: -60px;margin-bottom: 0;position: relative;z-index: 1;">
        <button class="btn btn-warning" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>





 

</div><!-- /.content-wrapper -->
{% endblock %}

{% block page_js %}
  <script>
  var send = false;
  (function($){$(document).ready(function(){
  
    $(".siteform .send").click(function() {
      var that = $(this);
      form = that.parents('.siteform');
      if (send == false) {
      var str = form.serialize();
      console.log(form);
      console.log(str);
      $.ajax({
        type: "POST",
        url: "https://form.proslavlenie.ru/mail.php",
        data: str,
        success: function(msg) {
        console.log(msg);
        if(msg == 'ok') {
          result = '<div class="ok">Спасибо! Ваше сообщение отправлено. <p style="font-size: 13px">Обновите страницу для повторной отправки анкеты</p></div>';
          form.append(result);
          form.find('.errorswrap').html('');
          send = true;
          //form.submit();
          //submit = form.find('.form_submit');
          //submit.click();
        }
        else {
          form.find('.errorswrap').html('<div class="errors">'+msg+'</div>');
        }
        }
      });
      return false;
      }
      return false;
    });

 



  });})(jQuery);
  </script>  

{% endblock %}