{% extends "front_main.html" %}
{% load thumbnail %}
{% load cropping %}
{% load menu_tags %}

{% block content %}
<div class="content-wrapper partnership partnership_project" style="margin-left:0"><!-- Content Wrapper. Contains page content -->

  <section id="drop_menu">
    {% menu_tree request %}
  </section>



  <section class="content">
    <div class="container">

      <div style="font-size: 21px;border-bottom: 1px solid #d5d5d5;margin-bottom: 15px;">
        <a href="/partnership/">Все проекты</a>
      </div>

      <div class="row">
        <div class="col-xs-7">
          <h1 class="">{{ project.name }}</h1>
        </div>

        <div class="col-xs-12">

          <div class="text">{{ project.text }}</div>          
          <div class="needsText">{{ project.needsText }}</div>   
        </div>


        <div class="col-xs-5">
          <div class="image">
            {% if project.image %}
              <img class="img-responsive" alt="{{ project.name }}" src="{% cropped_thumbnail project "cropping" scale=1 %}">
            {% else %}
              <img class="img-responsive" alt="no photo" src="/static/theme/img/no_photo.jpg">
            {% endif %}
          </div>      
        </div>
        <div class="col-xs-7">       
          <div class="goal"><div class="title">Необходимо:</div> {{ project.goal }} руб.</div>
          <div class="goalline"><div class="persent">{{ project.complete }}%</div><div class="progress" style="width:{{ project.complete }}%"></div></div>
          <div class="current"><div class="title">Собрано:</div> {{ project.current }} руб.</div>

          <div class="bttns">
            <a class="btn btn-default" href="http://donation.proslavlenie.ru/index2.php?id_project={{project.id}}" target="_blank">Пожертвовать единоразово</a>
            <div class="btn btn-default" data-toggle="modal" data-target="#becomepartner">Стать партнером</div>
          </div>

          <div class="date">Дата публикации проекта на сайте: {{ project.date }}</div>
        </div>
            
        </div>


      </div>
    </div>
  </section>

 

<div class="modal fade" id="becomepartner" tabindex="-1" role="dialog" aria-labelledby="becomepartnerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="becomepartnerLabel" style="line-height: 30px;margin-bottom: 16px;text-align: center;">Чтобы стать партнером <br> заполните форму:</h4>
      </div>
      <div class="modal-body">
        <form class="siteform">
          <input type="hidden" name="csrfmiddlewaretoken" value="UmBfsvlwoSm6CGz2dra5JNhDc4AA55W1">
          <input name="formname" type="hidden" value="Анкета партнера">
          <input name="fields" type="hidden" value="project;fio;phone;email;how_often;summ" >
          <input name="project" type="hidden" value="{{ project.name }}">

          <div class="fio"><input class="form-control floating-label" id="id_fio" name="fio" placeholder="Ф.И.О" type="text"></div>
          <div class="phone"><input class="form-control floating-label" id="id_phone" name="phone" placeholder="Контактный телефон" type="text"></div>
          <div class="email"><input class="form-control floating-label" id="id_email" name="email" placeholder="E-mail" type="text"></div>
          <div class="how_often"><input class="form-control floating-label" id="id_how_often" name="how_often" placeholder="Как часто вы можете пожертвовать (Н-р: Ежемесячно)" type="text"></div>
          <div class="summ"><input class="form-control floating-label" id="id_summ" name="summ" placeholder="Сумма" type="text"></div>
          <input class="form-control floating-label" id="e_mail" name="e_mail" placeholder="Не_заполняйте_это_поле" type="email">
          <div class="agreement checkbox">
            <label><input checked="checked" id="id_agreement" name="agreement" type="checkbox">
            <span class="checkbox-material"><span class="check"></span></span> Я ознакомлен(а) и согласен(а) с <a href="//proslavlenie.ru/page/polzovatelskoe-soglashenie/" target="_blank">пользовательским соглашением об использовании персональных данных</a>
            </label>
          </div> 
          <div class="send btn btn-success" style="position: relative;z-index: 2;">Отправить</div> 
          <div class="errorswrap"></div> 
        </form>
      </div>
      <div class="modal-footer" style="margin-top: -60px;margin-bottom: 0;position: relative;z-index: 1;">
        <button class="btn btn-warning" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
 

</div><!-- /.content-wrapper -->
{% endblock %}

{% block page_js %}
  <script>
    var send = false;
    (function($){$(document).ready(function(){
    
    $(".siteform .send").click(function() {
      var that = $(this);
      form = that.parents('.siteform');
      if (send == false) {
      var str = form.serialize();
      console.log(form);
      console.log(str);
      $.ajax({
        type: "POST",
        url: "https://form.proslavlenie.ru/mail.php",
        data: str,
        success: function(msg) {
        console.log(msg);
        if(msg == 'ok') {
          result = '<div class="ok">Спасибо! Ваше сообщение отправлено. <p style="font-size: 13px">Обновите страницу для повторной отправки анкеты</p></div>';
          form.append(result);
          form.find('.errorswrap').html('');
          send = true;
          //form.submit();
          //submit = form.find('.form_submit');
          //submit.click();
        }
        else {
          form.find('.errorswrap').html('<div class="errors">'+msg+'</div>');
        }
        }
      });
      return false;
      }
      return false;
    });

 



    });})(jQuery);
  </script>  

{% endblock %}